* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  /* user-select: none; */
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: visible;
  scrollbar-color: light;
  /* background-color: #c4c4c4; */
}

button {
  user-select: auto; /* Standard */
  background: none;
  border: none;
}


::-webkit-scrollbar {
  /* display: none; */
  height: 12px;
  width: 12px;
  
}

::-webkit-scrollbar-thumb {
  background: #5a6578;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}



.tabletholder {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.tablet {
  position: relative;
  background-color: #373e50;
  width: 66.125rem;
  height: 50.5rem;
  border-radius: 15px;
  box-shadow: 0 0 0 12px rgb(0, 0, 0), 0 0 0 16px #33494d, 0 0 0 18px #cec8df;
  z-index: 20;
  overflow: hidden;
}

.top {
  position: absolute;
  width: 100%;
  z-index: 1;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cross {
  position: absolute;
  right: 0;
  margin-right: 20px;
  z-index: 12;
}

#clock {
  position: absolute;
  left: 0;
  padding: 0.5rem 1rem;
}

.top p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  z-index: 1;
  color: white;
}

.backdrop {
  background-color: #373e50;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.main {
  margin-top: 2rem;
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  overflow-y: scroll;
  padding: 2rem 0 4rem 0;
}

.car {
  width: 15rem;
  background-color: #40495e;
  /* border:1px solid #a0a8ba; */
  height: 20rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.titel {
  color:white;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.type {
  display: flex;
}

.type p {
  color:white;
  font-weight: 500;
}

.type-name {
  color:#bdc3d6;
  margin-right: 5px;
  margin-bottom: 5px;
}

.spawn-button {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
  margin-left: -0.5rem;
  
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #5a6578;
  width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 3px 3px;
  height: 4rem;
  border-radius: 10px;
  background-color: #434b61;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 16px;
  
}